/* .home {} */

.lead_inner {
    display: flex;
  }
  
  /* .lead_left_box {} */
  
  .lead_right_box {
    width: 80vw;
    padding-left: 0px;
    padding-top: 0px;
   overflow-y: scroll; 
   height: 100vh;
  }
  
  .lead_right_box_inner {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  
  @media (max-width: 1000px) {
    .lead_inner {
      display: flex;
    }
  
    .lead_right_box {
      width: 100vw;
      padding-left: 0px;
      padding-top: 0px;
      
    }
  
    .lead_right_box_inner {
      padding-left: 0px;
      display: flex;
      flex-direction: column;
      background-color: white;
      
    }
  }