/* .home {} */

.home_inner {
  display: flex;
}

/* .home_left_box {} */

.home_right_box {
  width: 80vw;
  padding-left: 0px;
  padding-top: 0px;
  overflow-y: scroll;
  height: 100vh;
}

.home_right_box_inner {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.chart-container {
  display: flex;
  justify-content: space-between; 
  background-color: white;
}


.chart {
  width: 45%; /* Adjust the width of each chart */

.home_layout{
  margin-top: 20px;
  display:flex;
  flex-direction: row;
  border: 1px solid lightgray;
  justify-content: space-between;
}
.deal_funnel_chart{
  width: 38.4vw;
display: flex;
border: 2px solid lightgray;
flex-direction: column;
}
.opportunity_stage{
  width: 38.4vw;
display: flex;
border: 1px solid lightgray;

}
@media (max-width: 1000px) {
  /* .home {} */

  .home_inner {
    display: flex;
  }

  /* .home_left_box {} */

  .home_right_box {
    width: 100vw;
    padding-left: 0px;
    padding-top: 0px;
  }

  .home_right_box_inner {
    width: 100%;
    padding-left: 0px;
    display: flex;
  }

}
@media (max-width: 520px) {
  /* .home {} */

  .home_inner {
    display: flex;
  }

  /* .home_left_box {} */

  .home_right_box {
    width: 100vw;
    padding-left: 0px;
    padding-top: 0px;
  }

  .home_right_box_inner {
    width: 100%;
    padding-left: 0px;
    display: flex;
  }

}
