/* .home {} */

.pay_inner {
  display: flex;
}

/* .pay_left_box {} */
.head-section{
  display: flex;
}
.pay_right_box {

  display: flex;
  gap: 980px;
  
  
  
}
.button{

color:#FFFFFFFF;
margin-top: 28px;
font-weight: 400;
height: 36px;
font-size: 14px;
line-height: 22px;
text-align: center;
border: none;
border-radius: 4px;
padding:  0px 24px;
align-items: center;
display: inline-block;
}

 .New{
  color:#FFFFFFFF;
  background: #6D31EDFF;
  width: 90px;
  padding: 8.3%;
  height: 38px;
  border-radius: 5px;

 } 
 .plus{
  margin-right: 7px;
 }

.pay_right_box_inner {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.main-text{
  margin-top: 1rem;
}
@media (max-width: 1000px) {
  .pay_inner {
    display: flex;
  }

  .pay_right_box {


    display: flex;
    

    width: 100vw;
    padding-left: 0px;
    padding-top: 0px;

    
  }


  .pay_right_box_inner {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    background-color: white;
    
  }
}
.head{
  /* position: absolute; */
  top: 0px;
  width: 91%;
  height: 76px;
  background: #FFFFFFFF;
  border-radius: 0px;
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
  }
  .icon{
    display: flex;
    justify-content: right;
    padding: 20px;
    /* margin: 15px; */
    gap: 10px;
  }
.phone-icon{ 
  /* position: absolute; */
  top: 26px;
  /* left: 996px; */
  width: 26px;
  height: 26px;
  fill: #323743FF;
  }
.message-icon{

  /* position: absolute; */
  top: 26px;
  /* left: 1040px; */
  width: 24px;
  height: 24px;
  fill: #323743FF;
  }
  
  .bell-icon{
  /* position: absolute; */
  top: 26px;
  /* left: 1084px; */
  width: 24px;
  height: 24px;
  fill: #323743FF;
  }
.person-icon{ 
  /* position: absolute; */
  top: 26px;
  /* left: 1128px; */
  width: 24px;
  height: 24px;
  fill: #323743FF; 

}


