.handle{
    display: flex;
    gap:20px;
}
#modal1 {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: lightgrey;
  } 
  .meeting-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
  
  .form-legend {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-label {
    display: block;
    margin: 7px;
    font-weight: bold;
  }
  #reminder{
    
      width: 175px;
      height: 34px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form-input[type="textarea"] {
    height: 100px; 
  }
  
  .form-button-container {
    display: flex;
    justify-content: flex-end;
    margin: 20px
  }
  
  .form-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }
  
  .cancel-button1 {
    background-color: black;
    color: #fff;
  }
  
  .cancel-button1:hover {
    background-color: #999;
  }
  
  .save-button1 {
    background-color: purple;
    color: #fff;
  }
  
  .save-button1:hover {
    background-color: purple ;
  }